/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

#necklace img {
  border: 2px solid rgb(120, 120, 120);
  width: 100%;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

p {
  color: rgb(100,120,120);
}

h1 {
  color: silver;
  font-family: 'Bakersville', serif;
  font-size: 50px;
}

h2 {
  color: rgb(100,100,100);
}

footer {
  text-align: right;
  font-size: .75em;
  padding-bottom: 3em;
}

#press img {
  border: 2px solid rgb(100, 100, 100);
}



